<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Prisoner")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")


</head>
<body>
    <nav class="navbar-inverse navbar-fixed-top" style="height:50px">
        <div class="navbar-header">
            <div id="navbar-login">
                @Html.Partial("_LoginPartial")
            </div>  
            <a href='@Url.Action("Index", "Home")'>
                <img class="img-responsive header-image" src="~/Assets/logo.png" />
            </a>
        </div>
    </nav>  
    <div class="container" id="icon-container">
        <img class="img-responsive center-image" src="~/Assets/icons.png" />
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
